<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>--><!--> <html class="no-js"> <!--<![endif]-->
    

    <!-- HEAD section -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
        <meta name="viewport" content="width=device-width">
		<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
		<meta http-equiv="CACHE-CONTROL" content="NO-CACHE">

        <!-- Place favicon.ico -->
		<link rel="icon" href="favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/pygments/default.css">			
		<!-- on off swtich -->
		<link rel="stylesheet" href="/css/jquery.switchButton.css">
    </head><! end .head -->    
    
    <!-- BODY section -->
    <body>
       
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->	
			
		<header>
		    <div class="wrap">
		    	<div class="head-left">
		    		<a href="http://pushcommerceapp.com"><img src="/images/logo.png"></a>
		    	</div> <!-- head-left end -->
		    	
		    	<div class="head-right">
		    		<a href="http://playground.pushcommerceapp.com">
		    			<div class="area-demo">
		    			    Learn and Demo in our Playground
		    			</div>
		    		</a>
		    	</div> <!-- head-right end -->
		    	
		    	<div class="clear"></div> <!-- clear end -->
		    </div> <!-- wrap end -->
		</header>	
		
        <!-- Add your site or application content here -->
		
		<div class="container">
			
			<!-- SLOGAN -->
			<div class="wrap">
				
				<div class="title">
					<div class="title-left">
						<h1>Push Commerce</h1>
						<p>Shopify Extended to any web medium</p>
						
					</div> <!-- title-left end -->
					
					<div class="title-right">
						<a href="/">Documentation</a>
					</div> <!-- title-left end -->
					
					<div class="clear"></div> <!-- clear end -->
				</div> <!-- title end -->
				
			</div>			
				
			<div class="container-inner">
			
				<div class="wrap">
				
					<div class="quickstart-inner">
					
						<h6>Overview</h6>
					
                        <div class="quick-left">
                                <h3>Quick Start Guide</h3>

                                <ul>
                                        <li><a href="/" class="{% if page.url == '/index.html'%}current{% endif %}">PushCommerce Overview</a></li>
                                        <li><a href="/terminology" class="{% if page.url == '/terminology/index.html'%}current{% endif %}">Terminology</a></li>
                                        <li><a href="/getting-started" class="{% if page.url == '/getting-started/index.html'%}current{% endif %}">Getting Started</a></li> 
                                </ul>
                                <ul>
                                        <li><a href="/">Chapter 1</a></li>
                                        <li><a href="/">Chapter 2</a></li>
                                        <li><a href="/">Chapter 3</a></li>
                                </ul>
                        </div> <!-- quick-left end -->						
						
						<div class="quick-right">
							
							{{page.content | markdownify}}
						
						</div> <!-- quick-left end -->
						
						<div class="clear"></div> <!-- clear end -->
						
					</div> <!-- quickstart-inner end -->
				
				</div> <!-- wrap end -->
				
			</div> <!-- container-inner end -->
				
		</div> <!-- container end -->
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
		<script src="/js/respond.src.js"></script>
		<script src="/js/jquery-ui.js"></script>
		<script src="/js/jquery.switchButton.js"></script>
		<script src="/js/plugins.js"></script>
		<script src="/js/main.js"></script>

    </body>
</html>